### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# User-specific stuff
.idea/

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

_lab/

.github/

docker/

.dockerignore

.env
