/*Default setting*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* Body*/
body {
    overflow-x: hidden;
    background-color: #0d1117;
}
/* Main div */
div.main {
    max-width: 45rem;
    margin: auto 0.8rem;
    display: flex;
    flex-direction: column;
    top: 3rem;
    position: relative;
    min-height: 70%;
}

/* Main Logo*/
div.title {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
}

div.border  {
    background-color : transparent;
    border: 0.6rem solid #eecd20;
    /*width: 21rem;*/
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border h1 {
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: 3px;
    color: #eecd20;
    font-family: 'Saira Stencil One', sans-serif;
}

h5.subheading{
    text-align: center;
    color: #c9d1d9;
    margin: 0.3rem auto ;
    font-size: 12px;
}

#title-label {
    font-size: 50px;
    color: #c9d1d9;
    padding-left: 0.2rem;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;

}

#title-description {
    font-size: 14px;
    color: #9399a2;
}

div.file-browser-title {
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 0.4rem;
    align-items: center;
    min-width: 0;
}

div.file-browser-title-text {
    font-size: 21px;
    color: #c9d1d9;
    padding-left: 0.4rem;
}

div.file-browser-title-size {
    font-size: 15px;
    color: #9399a2;
    padding-left: 0.5rem;
    padding-top: 0.35rem;
}

button.upload {
    color: #c9d1d9;
    border: 1px solid #30363d;
    background-color: #21262c;
    border-radius: 0.3rem;
    height: 1.5rem;
    margin-left: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
}

button.create-folder {
    color: #c9d1d9;
    border: 1px solid #30363d;
    background-color: #21262c;
    border-radius: 0.3rem;
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
}

button.modal-create-folder {
    color: #c9d1d9;
    border: 1px solid #30363d;
    background-color: #21262c;
    border-radius: 0.3rem;
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    font-size: 13px;
    min-width: max-content;
}

#modal-create-folder-create {
    margin-left: 1rem;
}

div.file-browser {
    height: fit-content;
    display: flex;
    padding: 0 0 0 0;
    flex-direction: column;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0.5rem;
    border: 1px solid #30363d;
    align-items: stretch;
    min-width: 0;
}

div.file-browser-header {
    display: flex;
    flex-direction: row;
    height: 2.2rem;
    align-items: center;
    border-bottom: 1px solid #30363d;
}

div.file-browser-footer {
    display: flex;
    flex-direction: row;
    height: 1.6rem;
    margin-top: auto;
    align-items: center;
    border-top: 1px solid #30363d;
}

button.delete-file {
    color: #f8283b;
    border: 1px solid #30363d;
    background-color: #21262c;
    border-radius: 0.3rem;
    height: 1.4rem;
    margin-left: auto;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-right: 0.3rem;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: max-content;
}

button:hover {
    background-color: #3a3e46;
}

#search-button:hover {
    background-color: #3a3e46;
}

div.folder-entry {
    height: 2.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

div.file-entry {
    height: 2.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

div.folder-entry:hover, div.file-entry:hover {
    background-color: #2d323a;
}

.entry:not(:last-child) {
    border-bottom: 1px solid #30363d;
}

a.name-of-file, a.name-of-folder {
    text-decoration: none;
    color: #c9d1d9;
    max-width: 60%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}

a.name-of-file:hover, a.name-of-folder:hover {
    color: #eecd20;
}

div.del-svg-image {
    padding-top: 0.1rem;
    margin-left: auto;
}

p.file-size {
    color: #c9d1d9;
    padding-right: 0.7rem;
    font-size: 14px;
    white-space: nowrap;
}

div.svg-image {
    padding-left: 0.6rem;
    align-content: center;
    padding-right: 0.6rem;
}

#file-search-label {
    display: none;
    align-items: center;
    color: #c9d1d9;
    font-size: 14px;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 1.6rem;
}

#search-button {
    color: #c9d1d9;
    border: 1px solid #30363d;
    background-color: #21262c;
    border-radius: 0.3rem;
    height: 1.4rem;
    width: 5rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    font-size: 13px;
}

#file-search:focus {
    outline: none;
}

#file-search {
    color: #c9d1d9;
    border: 0 solid #30363d;
    background-color: #21262c;
    height: 1.6rem;
    width: 100%;
    font-size: 13px;
    padding-left: 0.5rem;
}

#current-path {
    color: #c9d1d9;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    alignment: bottom;
    font-weight: bold;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadcrumb li + li:before {
    padding: 2px;
    color: #9399a2;
    content: "/";
}

ul.breadcrumb li a {
    color: #58a6ff;
    text-decoration: none;
    display: inline-block;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.upload-file-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

div.progress-div {
    display: flex;
    color: #c9d1d9;
    background-color: #0d1117;
    margin: 10% auto;
    padding: 1rem 1rem 1rem 1rem;
    border: 1px solid #888;
    width: available;
    border-radius: 0.4rem;
    align-content: center;
}

#progress-bar-label {
    padding-right: 1rem;
}

#message {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* For Firefox */
progress::-moz-progress-bar {
    background: #eecd20;
}

/* For Chrome or Safari */
progress::-webkit-progress-value {
    background: #eecd20;
}

/* For IE10 */
progress {
    background: #eecd20;
}

#folder-input {
    color: #c9d1d9;
    border: 0 solid #30363d;
    background-color: #21262c;
    height: 1.6rem;
    width: 60%;
    font-size: 13px;
    padding-left: 0.5rem;
}

@media screen and (min-width: 45rem) {
    div.main {
        margin: auto;
    }
    div.progress-div{
        width: max-content;
    }
}

@font-face {
    font-display: swap;
}
